footer
    #contacts           
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53017a4256d3d7057bb88b450f9fe1c6ef5adb4a5549a9863e2c2afccfb985a6&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    section.footer
        .container
            .row
                .col-sm-6
                    p
                        | Россия, 443041,
                        br
                        | г. Самара, 
                        br
                        | ул. Буянова, 1, корпус 4, 
                        br
                        | офис 707.                     
                .col-sm-6
                    p 
                        |Тел. 
                        a(href="tel:"+phone+"")
                            strong #{phone}
                        br
                        |Эл. почта 
                        a(href="mailto:"+email+"")
                            strong #{email}
                    p Мы работаем с 10 до 18 часов
            .row
                .col-sm-6
                    p © 2018-2019 MasterMedia - все права защищены
                .col-sm-6
                    p Разработка сайта 
                        a(href="https://admix.pro") ADMiX Digital Agency

