doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/navbar
      .first
        .container
          .row
            .col-12
               include includes/breadcrumbs
    main
      .container
        header.row.section
          .col-sm-12            
              h1.pagetitle История агентства 
        section.row.section
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2 Вести бизнес без рекламы – все равно, что подмигивать девушке в полной темноте
              br
              span.text_italic  Стюарт Бритт  
        section.row.section
          .col-12
              img.img-fluid(src="img/about-1110.jpg")           
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2004 год 
              span.text_italic Стартовый проект 
              | работы Агентства
          .col-12
            p Федеральная служба занятости населения по Самарской области Объединенная Ярмарка Вакансий «Найди работу в Самаре!»
            p Заказчик: Проект - Поддержка выборов депутатов Государственной Думы вгородах Самарской области
            p Организация и проведение мероприятия «под ключ»: разработка фирменного стиля и логотипов мероприятия, проведение комплексной рекламной кампании,
            p пресс-релизы, пресс-конференции, публикации анонсов, мониторинг СМИ и постпубликации,
            p сувенирная и фирменная рекламная продукция, оформление площадок мероприятия, организация мероприятия.            
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2005 год 
              span.text_italic Первый крупный 
              | рекламный проект по ПФО              
          .col-12
            p Заказчик: ОАО «Мобильные Телесистемы» (МТС Поволжье) Продвижение услуг сотового оператора
            p Мониторинг и анализ рекламы прямых конкурентов; медиапланирование; изготовление и размещение рекламы, в том числе контекстной, нативной и скрытой рекламы в печатных СМИ городов ПФО (Самара, Оренбург, Саратов, Уфа, Ульяновск, Казань, Волгоград)           
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2005 - 2012 год  
              span.text_italic Уникальные 7 лет 
              | качественного сотрудничества с темой Фондового рынка            
          .col-12
            p Первая кампания, которую мы провели по всем законам жанра маркетинга, прежде чем запустилась масштабная рекламная кампания, было проведено развернутое маркетинговое исследование, давшее верный вектор на уникальную отдачу последующей рекламной кампании с максимальной отдачей для бизнеса клиента.
            p Заказчик: Инвестиционная компания «Восток-Инвест»
              br
              |Маркетинговые исследования; Разработка и реализация комплексных рекламных и PR-кампаний по продвижению услуг ИК «Восток-Инвест»; Командообразование (Team building );
            p Создание журнала и выпуск корпоративного издания «УДАЧНЫЙ ТRЕНД» в течение 7 лет
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2006 год - Задан 
              span.text_italic старт ежегодного турнира 
              | по развитию футбола
              br
              | Первый совместный проект с партией 
              span.text_italic Единая-Россия                 
          .col-12
            p Заказчик: Группа компаний RBE Турнир по мини-футболу «Чемпионы среди нас»
            p Организация и проведение мероприятия «под ключ» в городах Самарской области
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | С 2007 по 2011 года 
              span.text_italic  СОЦИОЛОГИЧЕСКИЕ 
              | и 
              span.text_italic МАРКЕТИНГОВЫЕ 
              | ИССЛЕДОВАНИЯ                 
          .col-12
            p Заказчик: Правительство Самарской области
            p Организация и проведение на территории Самарской области ряда комплексных социологических и маркетинговых исследований, в том числе по Приоритетным Национальным Проектам в сфере здравоохранения, образования и АПК.             
            p Исследования проводились в 38 административных округах Самарской области, включая город Самара. Волновое исследование в общей сложности затронуло 25000 респондентов;
            p Продвижение и популяризация проекта «Электронное правительство» среди населения Самарской области.
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2008-2009 гг Крупный  
              span.text_italic  московский проект 
              | по Самарской области                  
          .col-12
            p Заказчик: Фондовая биржа РТС (Москва). Проект по продвижению «Школы трейдеров».
            p Разработка и проведение кампании по продвижению услуг на территории Самары,
            p организация и сопровождение проекта «Школа трейдеров»
            p Конференции, размещение в печатных СМИ, на радио
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | с 2008 по 2011  Агентство участвовало в уникальном проекте
              span.text_italic  ребрендинга 
              | старейшей областной газеты Самарской области 
              span.text_italic «Волжская коммуна» 
            p
             strong (в том числе создание сайта газеты vkonline.ru)                
          .col-12
            p Заказчик: Правительство Самарской области
            p Разработка и проведение рекламной кампании по продвижению нового имиджа издания
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | с 2010 по 2014 
              span.text_italic  долгосрочный опыт сотрудничества 
              | рекламно-организационной плоскости с промышленным предприятием нефтяной отрасли              
          .col-12
            p Заказчик: Куйбышевский нефтеперерабатывающий заводи
            p Подготовка и организация тематических мероприятий «под ключ»:
            p День Молодежи, День Выпускника, Конкурс Детского рисунка, Мероприятия «Лучший по профессии», «День ветеранов завода», Подготовка мероприятия «Юбилей КНПЗ»                     
    include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
