doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/navbar
      .first.header__picture
        .container
          .row
            .col-12
              .header__picture-text
                p
                  |МЫ - современная и независимая
                  br
                  |универсальныя компания
                  br
                  span.text_italic с достойной деловой репутацией
    main
      .container
        .row
          .col-sm-12
            a(href="/services.html") Услуги
            br
            a(href="/projects.html") Проекты
            h1.pagetitle Мы
      //- Company Description
      section#aboutUs.section.text
        .container      
          .row
            .col-sm-12.col-md-4.text-right
              span.quote.d-none.d-md-block
            .col-sm-12.col-md-8
              h2 МЫ — коллектив
                br
                | АГЕНТСТВА 
                span.text_italic МАСТЕР МЕДИА        
          .row
            .col-sm-12.offset-md-4.col-md-8
              p Наше Агентство по праву гордится опытом успешного и интересного сотрудничества со своими постоянными клиентами:
                br
                span.text__partners Альфа Банк, Сбербанк , Банк ВТБ, Мегафон, Транснефть - Дружба, Куйбышевский нефтеперерабатывающий завод, Куйбышев Азот, Солар Системс, Самарский Медицинский Университет, Самарские коммунальные системы, Компания Т+, Инфотранс!
              p Агентство безмерно благодарно за многочисленные качественные проекты и годы работы Группе компаний Амонд, Отелю Holiday Inn, Новокуйбышевской нефтехимической компании, Клиникам Октопус, Клинике ЭКО и многими другими. 
              p МЫ признательны всем нашим Партнерам — Самарский, Московским, Краснодарским, Питерским, Екатеринбургским, Казанским Агентствам за крутые и незабываемые проекты, выполненные совместно или делегированные нам «под ключ».
              p 
                strong МЫ предоставляем полный цикл по оказанию маркетинговых услуг, включая:
                ul                 
                  li event-услуги,
                  li дизайн,
                  li брендинг,
                  li разработку креативных решений, 
                  li рекламных кампаний,
                  li проведение исследований,
                  li связи с общественностью. 
                br
                |МЫ занимаемся интегрированными маркетинговыми коммуникациями, потому что комплексный подход приносит максимально эффективный результат, нежели действия разрозненных агентств-подрядчиков. 
          .row
            .col-sm-12.col-md-4.text-right
              span.quote.d-none.d-md-block
            .col-sm-12.col-md-8      
              h2 Наша команда всегда работает 
                span.text_italic в плотной связке с клиентом 
                | и на благо клиента и его репутации.
      //- Photo of team
      section#team.section    
        .container
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/popova_1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Екатерина Попова
                    br
                    span.person__work-position Сенсей аналитики, системы и креатива 
                  section.person__text
                    p Три высших образования
                      br
                      | Опыт работы с государственными структурами
                    p
                      |Цитата: «Все дороги ведут к людям» (С.Экзюпери)
                  a.person__email(href="mailto:popova_ev@list.ru") popova_ev@list.ru
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/diana_1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Диана Куля
                    br
                    span.person__work-position просто директор                    
                  section.person__text
                    p Контролирую, есть ли у агентства  свежий рутокен, хорошо ли «прижилось» крипто-про,  как поживает аккредитация на ЭТП,   корректна ли ЭЦП,  ЕИС, чтобы  вовремя оказаться в ЕРУЗ и открыть спецсчет для работы по 44 ФЗ и  по 223 ФЗ  в рамках МСП… В общем, ничего сложного, все как обычно.           
                  a.person__email(href="mailto:info@mastermediapro.ru") info@mastermediapro.ru
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/nataliya1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Наталья Штепо
                    br
                    span.person__work-position Стратегический PR-Гуру
                  section.person__text
                    p Большой опыт работы с различными СМИ. Проведу мероприятие любого формата от пресс-конференции до роскошной свадьбы.
                      br
                      | Закончила институт культуры.
                      br
                      | В агентстве с основания.
                    p  
                      |Цитата: «Живи здесь и сейчас»
                  a.person__email(href="mailto:n_shtepo@mail.ru") n_shtepo@mail.ru
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/sasha_1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Александра Эхина
                    br
                    span.person__work-position Эксперт event-технологий, маркетолог, SMM-консультант
                  section.person__text
                    p С легкостью могу реализовать проект любого уровня сложности.  Найти актеров и массовку для съемок, пригласить гостей на мероприятие за один вечер?! Легко!
                      br
                      | Закончила СГЭУ, специальность Маркетинг
                      br
                      | Имею опыт работы в сфере рекламы, PR и Event.
                    p  
                      | Цитата: «Никогда не откладываю на завтра то, что могу сделать сегодня».
                  a.person__email(href="mailto:ehinaaleksandra@yandex.ru") ehinaaleksandra@yandex.ru 
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/lebedeva-1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Елена Лебедева
                    br
                    span.person__work-position Руководитель направления продаж                     
                  section.person__text
                    p Основные навыки: «Свой человек» с людьми, обожаю общаться и  рассказывать обо всем так легко и вкусно, что все хотят приобрести это…
                      br
                      | филолог и психолог 
                      br
                      | В агентстве с основания
                    p 
                      | Цитата: «Продавцом называется человек, дающий покупателям, а в идеале, всем окружающим — возможность обмена денег на счастье.»
                  a.person__email(href="mailto:lebedeva_lena@list.ru") lebedeva_lena@list.ru                      
    include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
