doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/navbar
      .first
        .container
          .row
            .col-12
               include includes/breadcrumbs
    main
      .container 
        section.row.section
          .col-sm-12
            h1.pagetitle Проекты
        section.row.section
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2 С года основания АГЕНТСТВА и по настоящее время имеем 
              span.text_italic крепкие партнёрские отношения
      section.section
        .container                      
          article.row.project.section__child
            .col-md-8
              img.img-fluid.project__photo(src=img+"projects/IMG_0004.jpg")                
            .col-md-4
              header.project__title Амонд
              section.project__text
                p С 2006 по 2014 года  рекламное и PR-сопровождение темы 
                  strong Национальный проект «Доступное жилье»
                p.text_thin 8 лет в партнерстве со строительной корпорацией ГК «Амонд»
                p.project__text_smaller
                  |Рекламные компании под ключ по продвижению объектов недвижимости. 
                  |Создание сайтов ГК и Жилой район Волгарь.   
                  |Впервые в Самаре — с помощью видеокамер на стройке сайт Волгаря показывал строительство объекта в реальном времени. 
                  |Маркетинговые исследования. 
                  |Организация и проведение мероприятий Дни открытых дверей на объектах ЖК Волгарь.  
                  |Подготовка и проведение Юбилейных мероприятий к 20 летию и к 25 летию Компании с участие первых лиц Губернии. 
                  |Съемка юбилейных фильмов , создание видеороликов.  
                  .text_italic Впервые для самарского рекламного рынка запуск трансляции имиджевых видеороликов строительного объекта Волгарь перед сеансами фильмов в кинотеатрах города Самара (идея и реализация принадлежала Агентству)  
          article.row.project.section__child
            .col-md-8
              img.img-fluid.project__photo(src=img+"projects/BDS_0893.jpg")                
            .col-md-4
              header.project__title Транснефть
              section.project__text
                p
                  strong Транснефть — Дружба (Куйбышевское районное управление)
                p
                  |Подготовка юбилея -  55 лет, создание юбилейного альманаха.
                p.project__text_smaller
                  |Ежегодная организация и проведение региональных этапов корпоративного мероприятия «Лучший по профессии» организация мероприятия «под ключ».
                  br
                  |Подготовка и проведение конкурсов профессионального мастерства 
                  span.text_italic «Лучший по профессии» 




    include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
