doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/navbar
      .first
        .container
          .row
            .col-12
               include includes/breadcrumbs
    main
      .container
        section.row.section
          .col-sm-12
            h1.pagetitle Услуги     
        section.row.section
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2 
              span.text_italic Здесь 
              | ожидается  
              | ЦИТАТА       
        section.row.section
          .col-sm-12
            article.services
                a(href="#photo" data-toggle="modal" data-target="#photoModal").btn.btn-outline-secondary.services__item-link
                  | Организация мероприятий — разработка концепций и сценариев, логистика, подбор персонала, пресс-конференции
                a(href="#").btn.btn-outline-secondary.services__item-link
                  | Презентации и имиджевые события
                a(href="#").btn.btn-outline-secondary.services__item-link
                  | Бизнес-мероприятия - конференции и семинары     
          //- Modal
          <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="photoModalLabel">
                    |Организация мероприятий — разработка концепций и сценариев, логистика, подбор персонала, пресс-конференции
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  img.img-fluid(src=img+"services/event12.jpg")
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>                      
    include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
