//Colors
$accent-color: #00599C;

$colors:(
    'bg_light':#fff,
    'text': #5d5d5d,
    'text_light':#fff,
    'btn_dark':#000,
    'btn_light': #FFE400,
    'link:':#000,
    'link_hover': blue,    
);


@function color($object){
    @return map-get($colors, $object);
}

//Media width Bootstrap
$media-xs:576px;
$media-sm:768px;
$media-md:992px;
$media-lg:1200px;

//Sizes
//Depend from logo height;
$navbar-height: 62px;

$margin-bottom-section:50px;
$margin-bottom-section__child:30px;

//Inner block with one col;
$padding-bottom_inner:30px;
$padding-sticker:3em;
$padding-tb-border:25px;

$section-padding: 40px;

$other-line-height:1.5;

$font-weight_accent:300;

$transition-time: 0.5s;
$transition-time_slow: 1s;