@import 'variables';
@import 'mixins';


.breadcrumb{
    font-size:0.9rem;
    font-weight: bold;
    padding: 1em 0;
    // margin:0;
    background:inherit;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 1em;
    color:color(text);
    content: "|";
}

.breadcrumb-item+.breadcrumb-item {
    padding-left:1em;
}

.breadcrumb-item.active {    
    color: color(text);
}

.breadcrumb-item a {
    padding:1em 0;
    color: color(text);
    &:hover{
        color:$accent-color;
        transition: $transition-time color;
    }
}