@import 'variables';
@import 'mixins';

.footer{    
    color:color(text_light);
    width:100%;
    background: $accent-color;
    padding: 25px 0;

    a{
        color:color(text_light);
    }

    &__link{
        @include nav-link;
    }


}