@import 'variables';
@import 'mixins';

$header-height:540px;
.header{
    &__picture{    
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/mbr-1807x1080.jpg) #000 no-repeat;
        background-size: cover;
        background-position: center center;
        height:$header-height;
    }

    &__picture-text{
        color:#fff;        
        font-size:2.5rem;        
        line-height: 1.2;
        font-weight:bold;
        margin-top:15%;
        @media screen and (max-width:$media-sm){
            font-size:2.2rem;
        }
    }

}