@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500i,700i&display=swap&subset=cyrillic');

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria-Italic.woff") format('woff');
	font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria-Bold.woff") format('woff');
	font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria-Light.woff") format('woff');
	font-weight: 300;
    font-style: normal;
}

/*
Project is styled using Bootstrap
Requires Bootstrap v4.3.1 (https://getbootstrap.com/)
*/
html,body{
    font-family: 'Geometria', sans-serif;
    font-size:16px;
    color:color(text);
}

.wrapper{
    max-width:1280px;
    margin: 0 auto;
}

/*First block after navbar requires top indent to show itself. Top indent = Navbar height*/
.first{
    padding-top:$navbar-height;
}

.section{
    margin-bottom:$margin-bottom-section;
    &__child{
        margin-bottom:$margin-bottom-section__child;
    }
}

.home-section{
    margin-bottom:100px;
}

.link{
    color:color(text);
    text-decoration:none;
    &:hover{
        color:$accent-color;
        text-decoration:none;
        transition: 0.3s color;
    }
}

.text_italic{
    @include text-italic
}

.text_thin{
    @include text-thin;
}
