@import "_variables.scss";
@import "_mixins.scss";


$link-color:$accent-color;

.navbar{
    font-weight: bold;
    background:#fff;
    .navbar-brand{
        color:$link-color;
    }
    &__logo{
        width:160px;
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    // padding-right: 0;
    // padding-left: 0;
  }


.navbar-nav{
    &__item{
        position: relative;      
        &:hover{
            .navbar-nav__bottom-strip{
                opacity: 1;
            }
        }
        &:last-child{
            // margin-right:0;
        }
        @media screen and (max-width:$media-sm){
            margin: 0 auto;
        }
    }

    &__link{
        color:$link-color;
        &:hover{
            color:$link-color;       
        }
        &_animated-underline{
            &:after{
                background-color: $link-color;
                display: block;
                content: "";
                height: 2px;
                width: 0%;
                transition: width .3s ease-in-out
            }            
            &:hover:after, &:focus:after{
                width:100%;
            }
        }
    }

    .active &__link  {
        color:#adadad;
    }

    &__bottom-strip{
        position: absolute;
        height:2px;
        width:100%;
        bottom:0;
        display: block;      
        background-color:$link-color;
        opacity: 0;
        transition: $transition-time opacity; 
    }
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
