@import 'variables';
@import 'mixins';

.person{
    font-size:1.5rem;
    &__photo{
        img{
            width:100%;
        }
    }

    &__name{

    }

    &__email{
        color:$accent-color;
        font-size:0.7em;
    }

    &__work-position{
        display:block;
        font-size:0.8em;
        @include text-italic;
        line-height:1;
    }

    &__text{
        font-size:0.6em;
    }

}