@import 'variables';
@import 'mixins';

.quote{
    font-size: 3.5rem;
    &::before{
        content:"\201d";
    }   
}

.text{
    font-size:18px;
    p{
        margin-bottom:2rem;
    }
    &__partners{
        font-size: 1.2em;
        line-height:1.3;
        @media screen and (max-width:$media-sm){
            font-size:1.5rem;
        }
    }
}